@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bg-dark {
  background-color: #14151A;
}
.bg-light {
  background-color: #FEFEFE;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

<<<<<<< HEAD
.text-light {
  color: #FEFEFE;
}

.text-primary {
  color: #E51515;
}

.text-secondary {
  color: #14151A;
  font-weight: 600;
  font-family: "Kanit", serif;
  background-color: #FEFEFE;
  padding: 1rem;
}

=======
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
.btn {
  background-color: #FEFEFE;
  color: #E51515;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  letter-spacing: 2px;
}
.btn:hover {
  background-color: #E51515;
  color: #FEFEFE;
  transition: all 0.5s;
}
.btn-primary {
  background-color: #E51515;
  color: #FEFEFE;
}
.btn-primary:hover {
  background-color: #FEFEFE;
  color: #E51515;
}

<<<<<<< HEAD
.badge {
  border: none;
  padding: 0.2rem 2.4rem;
  font-size: 1.6rem;
  color: #FEFEFE;
  background-color: #E51515;
  margin: 5rem;
  letter-spacing: 0.5rem;
}
.badge-oyun {
  background-color: #08ABBD;
}
.badge-yazilim {
  background-color: #FFB320;
}

.rating {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #FEFEFE;
  opacity: 0;
  z-index: 100;
  transition: all 0.5s;
  line-height: 3rem;
  font-size: 1.4rem;
  font-family: "Kanit", serif;
  text-align: center;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  border: 2px solid #FFB320;
  color: #E51515;
}

.game-commet {
  font-family: "Kanit", serif;
  color: #14151A;
  font-weight: 600;
}

@keyframes mainAni {
  0% {
    opacity: 0;
    transform: translateY(5rem);
    border-top: 0px solid #E51515;
  }
  50% {
    transform: translateY(-5rem);
    border: 2px solid #FFB320;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    border: 2px solid #E51515;
  }
}
=======
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto Condensed", serif;
  color: #9F9F9F;
<<<<<<< HEAD
  background-color: #14151A;
=======
  background-color: #FEFEFE;
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
}

.container {
  max-width: 114rem;
  margin: 0 auto;
  width: 100%;
}

<<<<<<< HEAD
section {
  padding: 8rem 0;
}

h1, h2, h3, h4 {
  font-family: "Kanit", serif;
  color: #E51515;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 5rem;
  color: #FEFEFE;
}

h4 {
  font-size: 2rem;
  color: #FEFEFE;
  text-transform: uppercase;
}

=======
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Kanit", serif;
  color: #FEFEFE;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.top-header {
  border-bottom: 1px solid #E51515;
}
.top-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
<<<<<<< HEAD
=======
.top-header .container .logo h1 {
  font-size: 5rem;
  font-family: #14151A;
  color: #E51515;
}
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
.top-header .container .social-media-menu {
  display: flex;
}
.top-header .container li {
  margin: 0 1rem;
  padding: 1rem;
}
.top-header .container li a {
  font-size: 2rem;
}
.top-header .container li:hover a {
  color: #E51515;
  transition: all 0.5s;
}
.top-header .container .login-area span {
  display: none;
}

.nav-header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-header .nav .navbar-list {
  display: flex;
}
.nav-header .nav .navbar-list li {
  line-height: 8rem;
  position: relative;
  transition: all 0.5s;
}
.nav-header .nav .navbar-list li .dropdown {
  position: absolute;
  background-color: #2a2c37;
  width: 200%;
  left: 0;
  z-index: 10;
  top: 12rem;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}
.nav-header .nav .navbar-list li .dropdown li {
  line-height: 4rem;
}
.nav-header .nav .navbar-list li:hover {
  background-color: #E51515;
}
.nav-header .nav .navbar-list li:hover .dropdown {
  opacity: 1;
  top: 8rem;
  visibility: visible;
}
.nav-header .nav .navbar-list a {
  padding: 0 2rem;
  font-size: 1.6rem;
}
.nav-header .nav .navbar-list .fa-chevron-down {
  color: #FEFEFE;
}
.nav-header .nav .search-area input[type=search], .nav-header .nav .search-area button[type=submit] {
  border: none;
  background-color: transparent;
  color: #FEFEFE;
}
.nav-header .nav .search-area input[type=search] {
  border-bottom: 1px solid #E51515;
  padding: 0.5rem;
}
.nav-header .nav .search-area button[type=submit] {
  margin-left: -5rem;
}

<<<<<<< HEAD
.main-slider .container {
  max-width: 100%;
}
.main-slider .single-slide {
  position: relative;
}
.main-slider .single-slide .slide-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse at center, rgba(206, 15, 15, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.main-slider .single-slide .slide-overlay .slide-content {
  text-align: center;
  position: absolute;
  top: 25%;
  width: 100%;
  border-top: 2px solid #E51515;
  border-bottom: 2px solid #E51515;
  padding: 10rem 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
  animation: mainAni 1.5s ease-out;
}
.main-slider .single-slide .slide-overlay .slide-content p {
  font-size: 1.4rem;
}

.owl-theme {
  position: relative;
}
.owl-theme .owl-dots {
  position: absolute;
  bottom: 6rem;
  right: 50%;
  z-index: 5;
  display: flex;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  margin-right: 1.3rem;
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  border-radius: 4rem;
  background-color: transparent;
  transition: all 0.5s;
  margin-top: -10rem;
}
.owl-theme .owl-dots .owl-dot.active, .owl-theme .owl-dots .owl-dot:hover {
  color: #FFB320;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: transparent;
}
.owl-theme .owl-dots .owl-dot span {
  font-size: 3rem;
  font-family: "Kanit", serif;
  background: transparent !important;
}

.latest-news {
  display: flex;
  background-color: #E51515;
  height: 8rem;
  align-items: center;
  margin-top: -1rem;
  border: 1px solid #E51515;
}
.latest-news-title {
  flex-basis: 25%;
  text-align: right;
  padding-right: 2rem;
  font-size: 2rem;
}
.latest-news-content {
  flex-basis: 75%;
  background-color: #14151A;
  height: 100%;
}
.latest-news-content .news-ticker {
  display: flex;
  align-items: ceter;
  justify-content: space-between;
  line-height: 8rem;
}
.latest-news-content .news-ticker p {
  color: #FEFEFE;
  font-size: 1.4rem;
}

.recent-games {
  background-color: #14151A;
}
.recent-games .section-title {
  margin-top: 10rem !important;
}
.recent-games-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 4rem;
  grid-column-gap: 8rem;
  grid-template-areas: "item-1 item-1 item-1 item-2" "item-3 item-4 item-5 item-6";
}
.recent-games-content .recent-game {
  width: 100%;
  height: 100;
  background-color: rgb(255, 114, 32);
}
.recent-games-content .recent-game-thumbnail {
  position: relative;
  overflow: hidden;
}
.recent-games-content .recent-game-thumbnail img {
  width: 100%;
  transition: all 0.5s;
}
.recent-games-content .recent-game-thumbnail::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(229, 21, 21, 0.6);
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.recent-games-content .recent-game-thumbnail:hover::after, .recent-games-content .recent-game-thumbnail:focus::after {
  visibility: visible;
  opacity: 1;
}
.recent-games-content .recent-game-thumbnail:hover img, .recent-games-content .recent-game-thumbnail:focus img {
  transform: scale(1.2) rotate(5deg);
}
.recent-games-content .recent-game-thumbnail:hover .rating, .recent-games-content .recent-game-thumbnail:focus .rating {
  opacity: 1;
}
.recent-games-content .recent-game-content {
  padding: 3rem;
}
.recent-games-content .recent-game-content .game-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #14151A;
}
.recent-games-content .recent-game-content .game-title a {
  color: #14151A;
}
.recent-games-content .recent-game-content .game-title a:hover {
  transition: all 0.4s;
  color: #FEFEFE;
}
.recent-games-content .recent-game-content .game-date {
  margin-bottom: 2rem;
  display: inline-block;
  color: #14151A;
  font-size: 1.5rem;
  text-decoration: underline;
}
.recent-games-content .recent-game-content p {
  font-size: 1.3rem;
  line-height: 1.8;
  color: #14151A;
}
.recent-games-content .recent-game-content .game-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-game-1 {
  grid-area: item-1;
}

.recent-game-2 {
  grid-area: item-2;
}

.recent-game-3 {
  grid-area: item-3;
}

.recent-game-4 {
  grid-area: item-4;
}

.recent-game-5 {
  grid-area: item-5;
}

.recent-game-6 {
  grid-area: item-6;
=======
.single-slide {
  position: relative;
  display: flex;
  align-items: center;
}
.single-slide h2 {
  font-size: 10rem;
  color: #FFB320;
  background-color: #14151A;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 2rem;
  margin-top: 50rem;
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
}/*# sourceMappingURL=styles.css.map */