<<<<<<< HEAD
@import "abstracts";
@import "components";
@import "animations";
=======
@import "_abstract";
@import "_components";
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: $secondary-font;
    color:$gray-color;
<<<<<<< HEAD
    background-color: $secondary-color
=======
    background-color: $light-color
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
}

.container{
    max-width: 114rem;
    margin: 0 auto;
    width: 100%;
}

<<<<<<< HEAD
section{
    padding: 8rem 0;
}

h1, h2, h3, h4{
    font-family: $primary-font;
    color: $primary-color;
    font-weight: 500;
    letter-spacing: .1rem;
}

h1{
    font-size: 5rem;
 
}

h2{
   
    font-size: 5rem;
    color: $light-color;

  }

h4{
    
   
    font-size: 2rem;
    color: $light-color;
    text-transform: uppercase;
}

=======
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: $primary-font;
    color: $light-color;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

// Top Header

.top-header{
<<<<<<< HEAD
  
=======
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
    border-bottom: 1px solid $primary-color;
    .container{
        @include flex-display(flex, center, space-between);
        
<<<<<<< HEAD
       
=======
        .logo{
            h1{
                font-size: 5rem;
                font-family: $secondary-color;
                color: $primary-color
            }
        }

>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
        .social-media-menu{
            display: flex;
        }
        li{
            margin: 0 1rem;
            padding: 1rem;

            a{
                font-size: 2rem;
            }

            &:hover a{
                color: $primary-color;
                transition: all .5s;
            }
        }

        .login-area{
            span{
                display: none;
            }
        }
        
    }
}

//Nav Header

.nav-header{
<<<<<<< HEAD
  
    .nav{
        @include flex-display(flex, center, space-between);
      
=======
    .nav{
        @include flex-display(flex, center, space-between);

>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
        .navbar-list{
            display: flex;
            
            li{
                line-height: 8rem;
                position: relative;
                transition: all .5s;

                .dropdown{
                    position: absolute;
                    background-color: lighten($secondary-color, 10%);
                    
                    width: 200%;
                    left:0;
                    z-index: 10;
                    top:12rem;
                    transition: all .5s;
                    opacity: 0;
                    visibility: hidden;

                    li{
                        line-height: 4rem;
                       
                    }
                }

                &:hover{
                    background-color: $primary-color;
                    & .dropdown{
                        opacity: 1;
                        top: 8rem;
                        visibility: visible;
                        
                    }
                }
            }

            a{
                padding: 0 2rem;
                font-size: 1.6rem;

                
            }
           
            .fa-chevron-down{
                color: $light-color;
            }
            
        }

        .search-area{
            input[type="search"], button[type="submit"]{
                border: none;
                background-color: transparent;
                color: $light-color;
            }

            input[type="search"]{
                border-bottom: 1px solid $primary-color;
                padding: .5rem;
            }

            button[type="submit"]{
                
                margin-left: -5rem;
            }
        }
    }
}


<<<<<<< HEAD
// Main slider

.main-slider{
    .container{
        max-width: 100%;
    }
    .single-slide{
        position: relative;
       
        .slide-overlay{
            
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(ellipse at center, rgba(206,15,15, 0.5) 0%, rgba(0,0,0, .1) 100%);
            

            .slide-content{
                
              text-align: center;
              position: absolute;  
              top: 25%;
              width: 100%;
              border-top: 2px solid $primary-color;
              border-bottom: 2px solid $primary-color;
              padding: 10rem 7rem;
              background: linear-gradient(rgba(0,0,0, .6), rgba(0,0,0, .7));
              animation: mainAni 1.5s ease-out;

                p{
                    font-size: 1.4rem;
                }
            }
            
        }
    }
}

// CUSTOM OWL CAROUSEL

.owl-theme{
    position: relative;

    .owl-dots{
        position: absolute;
        bottom: 6rem;
        right: 50%;
        z-index: 5;
        display: flex;

        .owl-dot{
            
            display: inline-block;
            margin-right: 1.3rem;
            width: 3.3rem;
            height: 3.3rem;
            text-align: center;
            border-radius: 4rem;
            background-color: transparent;
            transition: all .5s;
            margin-top: -10rem;

            &.active, &:hover{
                color: $date-color;

                span{
                    background-color: transparent;
                  
                     
                }
            }

            span{
                
                font-size: 3rem;
                font-family: $primary-font;
                background: transparent !important;
            }
        }
    }
}


// LATEST NEWS

.latest-news{
    display: flex;
    background-color: $primary-color;
    height: 8rem;
    align-items: center;
    margin-top: -1rem;
    border: 1px solid $primary-color;
   

    &-title{
        flex-basis: 25%;
        text-align: right;
        padding-right: 2rem;
        font-size: 2rem;
    }

    &-content{
        flex-basis: 75%;
        background-color: $secondary-color;
        height: 100%;

        .news-ticker{
            @include flex-display(flex,ceter,space-between);
            line-height: 8rem;
            

            p{
                color: $light-color;
                font-size: 1.4rem;
            }
        }
        
    }
}



//RECENT GAME SECTION


.recent-games{
   
    background-color: $secondary-color;
    
    .section-title{
        margin-top: 10rem !important;
       
    }

    
    &-content{
       
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-row-gap: 4rem;
        grid-column-gap: 8rem;
        grid-template-areas: 'item-1 item-1 item-1 item-2'
                             'item-3 item-4 item-5 item-6';

        
        .recent-game{
            
            width: 100%;
            height: 100;
            background-color: rgb(255, 114, 32);

            &-thumbnail{
                position: relative;
                overflow: hidden;

                img{
                    width: 100%;
                    transition: all .5s;
                }
                
                &::after{
                    position: absolute;
                    top:0;
                    left: 0;
                    content: '';
                    background-color: rgba($primary-color, .6);
                    width: 100%;
                    height: 100%;
                    visibility: hidden;
                    opacity: 0;
                    transition: all .5s;
                }

                &:hover, &:focus{
                
                    &::after{
                        visibility: visible;
                        opacity: 1;

                        
                    }

                    img{
                        transform: scale(1.2) rotate(5deg);
                    }

                    .rating{
                        opacity: 1;
                    }
                }
            }

            &-content{
                padding: 3rem;
                

                .game-title{
                    margin-bottom: 2rem;
                    font-size: 2rem;
                    color: $secondary-color;
                  
                    a{
                        color: $secondary-color;

                        &:hover{
                            transition: all .4s;
                            color: $light-color;
                        }
                    }
                }

                .game-date{
                    margin-bottom: 2rem;
                    display: inline-block;
                    color: $secondary-color;
                    font-size: 1.5rem;
                    text-decoration: underline;
                    
                }
               

                p{
                    font-size: 1.3rem;
                    line-height: 1.8;
                    color: $secondary-color;
                }

                .game-meta{
                    @include flex-display(flex, center, space-between);
                }
            }
           
        }
    }
}

.recent-game-1{
    grid-area: item-1;
}

.recent-game-2{
    grid-area: item-2;
}

.recent-game-3{
    grid-area: item-3;
}

.recent-game-4{
    grid-area: item-4;
}

.recent-game-5{
    grid-area: item-5;
}

.recent-game-6{
    grid-area: item-6;
}


=======
.single-slide{
    position: relative;
    display: flex;
    align-items: center;
    
    
    h2{
        font-size: 10rem;
        color: $date-colorgit;
        background-color: $secondary-color;
        position: absolute;
        text-align: center;
        width: 100%;
        padding: 2rem;
        margin-top: 50rem;
       
    }
}
>>>>>>> ff76274c440628c66ab42c7faf5bd6f586dd5ba7
